@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,700;1,400;1,700&family=Mate:ital@0;1&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

html {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (min-width: 576px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

h2 {
  font-size: 2.4rem;
  line-height: 1.125;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 400;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media only screen and (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.progress-bar-container {
  height: 6px;
  background-color: transparent;
}

.progress-bar-container .progress-bar {
  background-color: #1ec5af;
  width: 0;
  height: 100%;
  -webkit-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}

.logo {
  font-family: 'Cormorant';
  font-style: italic;
  text-decoration: none;
  font-size: 4.5rem;
  font-weight: bold;
}

input[type='checkbox']:checked + .quiz-button {
  background-color: #72dd99;
}

input[type='checkbox']:checked + .quiz-button p {
  opacity: 0;
}

input[type='checkbox']:checked + .quiz-button .quiz-icons {
  opacity: 1;
}

.quiz-button {
  display: block;
  position: relative;
  background-color: #1ec5af;
  border: none;
  outline: none;
  padding: 1.4rem 2.3rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  min-width: 200px;
}

.quiz-button.step-error {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@-webkit-keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

.quiz-button .quiz-icons {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

.quiz-button .quiz-icons svg {
  font-size: 1.75rem;
}

.quiz-button .quiz-icons svg.fa-play {
  font-size: 1.4rem;
}

.quiz-button p {
  display: inline-block;
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
}

@media only screen and (min-width: 1025px) {
  .quiz-button:hover {
    -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5), 0 3px 10px 0 rgba(0, 0, 0, 0.49);
            box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5), 0 3px 10px 0 rgba(0, 0, 0, 0.49);
    background-color: #72dd99;
  }
  .quiz-button:hover p {
    opacity: 0;
  }
  .quiz-button:hover .quiz-icons {
    opacity: 1;
  }
}

.quiz-wrapper {
  position: relative;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  overflow: hidden;
  font-size: 1.3rem;
}

.quiz-wrapper .show {
  display: block !important;
}

.quiz-wrapper a.show {
  display: inline-block !important;
}

.quiz-wrapper .quiz-background-image {
  position: absolute;
  top: -8px;
  left: -8px;
  width: calc(100% + 16px);
  height: calc(100% + 16px);
  background-image: url("../assets/beach1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(6px);
          filter: blur(6px);
  z-index: -1;
}

.quiz-wrapper .quiz-header {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

@media only screen and (min-width: 992px) {
  .quiz-wrapper .quiz-header {
    padding-bottom: 6rem;
  }
}

.quiz-wrapper .quiz-header .logo {
  display: inline-block;
}

.quiz-wrapper .quiz-step {
  display: none;
  text-align: center;
}

.quiz-wrapper .quiz-step.current-step {
  display: block;
}

.quiz-wrapper .quiz-step h4 {
  margin: 2.5rem auto;
  max-width: 420px;
}

.quiz-wrapper .quiz-step .quiz-buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  padding-top: 3rem;
}

.quiz-wrapper .quiz-step .quiz-buttons-container > label {
  width: 100%;
}

.quiz-wrapper .quiz-step.quiz-step-last {
  margin-bottom: 2rem;
}

.quiz-wrapper .quiz-step.quiz-step-last .quiz-destinations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0;
}

.quiz-wrapper .quiz-step.quiz-step-last .quiz-destinations .destination-card {
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5), 0 3px 10px 0 rgba(0, 0, 0, 0.49);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5), 0 3px 10px 0 rgba(0, 0, 0, 0.49);
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 300px;
  max-height: 200px;
}

.quiz-wrapper .quiz-step.quiz-step-last .quiz-destinations .destination-card:not(:last-of-type) {
  margin-bottom: 1rem;
}

.quiz-wrapper .quiz-step.quiz-step-last .quiz-destinations .destination-card::after {
  content: '';
  position: absolute;
  bottom: -50%;
  right: -50%;
  width: 115%;
  max-width: 410px;
  height: 80%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-filter: blur(12px);
          filter: blur(12px);
  z-index: 2;
}

.quiz-wrapper .quiz-step.quiz-step-last .quiz-destinations .destination-card img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.quiz-wrapper .quiz-step.quiz-step-last .quiz-destinations .destination-card p {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 60%;
  padding: 1rem;
  text-align: right;
  font-size: 0.9rem;
  line-height: 1.2;
  z-index: 3;
  pointer-events: none;
}

@media only screen and (min-width: 992px) {
  .quiz-wrapper .quiz-step.quiz-step-last .quiz-destinations {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .quiz-wrapper .quiz-step.quiz-step-last .quiz-destinations .destination-card {
    width: 289px;
    height: 193px;
    max-width: 3000px;
    max-height: 2000px;
  }
  .quiz-wrapper .quiz-step.quiz-step-last .quiz-destinations .destination-card:not(:last-of-type) {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .quiz-wrapper .quiz-step.quiz-step-last .quiz-destinations {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .quiz-wrapper .quiz-step.quiz-step-last .quiz-destinations .destination-card {
    width: 349px;
    height: 233px;
    max-width: 3000px;
    max-height: 2000px;
  }
  .quiz-wrapper .quiz-step.quiz-step-last .quiz-destinations .destination-card:not(:last-of-type) {
    margin-bottom: 0;
    margin-right: 2rem;
  }
}

.quiz-wrapper .quiz-navigator {
  display: none;
  margin-top: 3.5rem;
  margin-right: 1.5rem;
  text-align: center;
  padding: 1rem 0;
}

.quiz-wrapper .quiz-navigator a {
  display: none;
}

.quiz-wrapper .quiz-navigator a:first-of-type {
  opacity: 0.65;
  margin-right: 3.5rem;
}
